# How would I utilize KNN with credit information to predict payment reliability

Given the four spending catagories of dining out, groceries, utilities, and entertainment to decide payment reliability, I would look at the rate of default for customers who spend the most in each of the catagories.  Then I would analyze which most used combinations (groceries/utilities, dining out/entertainment, etc.) most often result in delenquent payments.  I would create a dataframe like the one below, with the total amount spent in each catagory summed, with a binary column designating whether the customer paid or defaulted (1, 0) with those totals.  Given the many different combinations, it would require a rather large sample to get an accurate representation, at least one thousand customers per sample.

KNN would be useful because of the ease of modifying the model, adjusting the K-value for accuracy is easy, and adding more features is simple also.

In [1]:
import pandas as pd
df = pd.read_csv('credit_data.csv')
df.set_index('custid')

        groceries  entertainment  utilities  diningout  default
custid
1           25.66          55.66     200.00       0.00        0
2          500.25          78.99     100.00      99.00        1
3          300.50          10.00      99.99      77.00        1
4           60.00        1000.00      78.00      35.55        0
5           90.00         800.00     500.00      99.00        0
6          100.00          35.88     500.00     200.00        1
7          120.00          77.00     700.00     300.00        1